@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    display: grid;
    place-items: center;  /*centraliza a imagem*/
}


/* CAROUSEL */

div#myCarousel div#carousel-inner div img{
    width: 100%;
    height: 60vw;
}

div#myCarousel{
    position: absolute;
}

.carousel{
    width:100%;
    /* position: absolute; */
    z-index: -1;
  }


.item{
    flex: none;
    width: 100%;
    height: 800px;
    pointer-events: none;
}

/*html*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


nav{
    padding: .8vw;
    position: relative;
    width: 100%;
    z-index: 0;
}
nav ul{
    background-color: #023047;
    list-style: none;
    display: flex; 
    justify-content: center;

}
nav ul h2{
    color: #8ecae6;
    font-size: 2vw;
    font-weight: 500;
}
nav ul li{
    padding: .8vw; 
    margin-left: 5vw;
    justify-content: center;
    color: #fff;
    font-size: 1vw;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
} 
nav div{
    background-color: #219dbcaf;
    width: 100%;
    list-style: none;
}
nav div li{
    justify-content: center;
    display: flex;
    margin-left: 3vw;
    font-size: 1.5vw;
    font-weight: 700;
}
nav div li a{
    text-decoration: none;
    color: #023047;
}

/* SECTION COVID */

main{
    display: block;
    position: relative;
}

section#covid{
    padding: 2vw;
    justify-content: center;
    align-items: center;
    width: 50%;
}

section#covid div#alerta {
    padding: auto;
    border: 2px solid #023047;
    border-radius: 5rem;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
}
section#covid div#alerta div#protocolo{
    padding: 2vw;    
    margin-right: 2vw;
   
}
section#covid div#alerta div#protocolo h3{
    font-size: 1.2vw;
    font-weight: 600;
    padding: 1vw;
    text-align: start;
    line-height: 2vw;
    
}
section#covid div#alerta div#protocolo p{
    font-size: 1vw;
    font-weight: 300;
    padding: auto;
    text-align: justify;
    line-height: 2vw;

}
section#covid div#alerta div#covidimg img{
    width: 50%;
    padding: 2vw;
    align-items: center;
    display: block;
}

section#cards{
    justify-content: center;
    align-items: center;
    padding: auto;
}
    section#cards div#destinos1 {
    padding: 3vw;
    display: flex;
} 
section#cards div#destinos1 div {
    border: none;
    padding: 3vw;
    text-align: center;
    margin-left: 3vw;
    font-size: 1.4vw;
    border-radius: 5rem;
    cursor: pointer;
    transition: 2s ease-out;
    color:black;
    font-weight: 600; 
    opacity: 0.4;   
}
section#cards div#destinos1 div h2{
    color:black;
    font-weight: 700; 
    
}
section#cards div#destinos1 div#destino-card1{
    background-image: url('../img/jalapon.webp');
    background-position: center; 
    background-size: cover;
}
section#cards div#destinos1 div#destino-card2{
    background-image: url('../img/gramado1.jpg');
    background-position: center; 
    background-size: cover;
}
section#cards div#destinos1 div:hover{
    background-color: #219dbcda;
    transform: scale(1.05);
    opacity: 0.8;
      
}

section#cards div#destinos2 {
    padding: 3vw;
    display: flex;
    background: linear-gradient(180deg, transparent 100px, #ddd 10%);
    padding-bottom: 6vw
} 
section#cards div#destinos2 div {
    border: none;
    padding: 3vw;
    text-align: center;
    margin-left: 3vw;
    font-size: 1.4vw;
    border-radius: 5rem;
    cursor: pointer;
    transition: 2s ease-out;
    color:black;
    font-weight: 600;   
    opacity: 0.4; 
}
section#cards div#destinos2 div h2{
    color:black;
    font-weight: 700; 
    
}
section#cards div#destinos2 div#destino-card3{
    background-image: url('../img/frutigen2.jpg');
    background-position: center; 
    background-size: cover;
}
section#cards div#destinos2 div#destino-card4{
    background-image: url('../img/islandia.jpg');
    background-position: center; 
    background-size: cover;
}
section#cards div#destinos2 div:hover{
    background-color: #219dbcc0;
    transform: scale(1.05);
    opacity: 0.8;
}



footer{
    padding:auto;
    position: relative;
    width: 100%;

}

footer ul li{
    background-color: #023047;
    width: 100%;
    list-style: none;
    display: flex; 
    justify-content: center;
}

footer ul li a{
    padding: 2vw; 
    margin-left: 5vw;
    justify-content: center;
    color: #fff;
    font-size: 1.5vw;
    text-decoration: none;
}



/*ajustar campo covid*/



/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
::-webkit-scrollbar-thumb {
    background: #023047;
  }
::-webkit-scrollbar-thumb:hover {
    background: #219dbcc0;
  }
  