@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
nav{
    padding: .8vw;
    position: relative;
}
nav ul{
    background-color: #023047;
    list-style: none;
    display: flex; 
    justify-content: center;
    
}
nav ul h2{
    color: #8ecae6;
    font-size: 2vw;
    font-weight: 500;
}
nav ul li{
    padding: .8vw; 
    margin-left: 5vw;
    justify-content: center;
    color: #fff;
    font-size: 1vw;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
} 
nav div{
    background-color: #219dbcaf;
    width: 100%;
    list-style: none;
}
nav div li{
    justify-content: center;
    display: flex;
    margin-left: 3vw;
    font-size: 1.5vw;
    font-weight: 700;
}
nav div li a{
    text-decoration: none;
    color: #023047;
}
header h2{
    text-align: center;
    padding: 2vw;
    font-size: 2vw;
}
section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;  
}
section div{
    justify-content: center;
    flex-wrap: wrap;
    padding: auto;
    width: 50%;
}
section div form{
    text-align: center;
    font-size: 1.3vw;
    padding: 2vw;
   
}
section div form input, textarea{
    width: 100%;
    padding: 1vw;
    font-size: 1.3vw;
    border: 2px solid #023047;
    margin-top: 1vw;
    margin-bottom: 1vw;
    outline: none;
}
section div form label{
    font-size: 1.4vw;
    padding: auto;
}
section div form button{
    border: 1px;
    background-color: #023047;
    color:#8ecae6;
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 5vw;
    display: block;
    margin: auto;
    margin-top: 2vw;
    cursor: pointer;
    width: 20%;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
::-webkit-scrollbar-thumb {
    background: #023047;
  }
::-webkit-scrollbar-thumb:hover {
    background: #219dbcc0;
  }
  