@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,500&display=swap');

*{margin: 0; padding:0; box-sizing:border-box;}

body {
    display: grid;
    place-items: center;  
}
section div#item-wrapper {
    width: 100%;
}
section div#item-wrapper div#item{
    display: flex; 
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth; 
}
.item{
    flex: none; 
    width: 100%;
    height: 700px;
    scroll-snap-align: start; 
    pointer-events: none;
}
section div#item-wrapper div#item img{
    
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/*html*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    padding: .8vw;
    position: relative;
    width: 100%;
}
nav ul{
    background-color: #023047;
    list-style: none;
    display: flex; 
    justify-content: center;
    
}
nav ul h2{
    color: #8ecae6;
    font-size: 2vw;
}
nav ul li{
    padding: .8vw; 
    margin-left: 5vw;
    justify-content: center;
    color: #fff;
    font-size: 1vw;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
} 
nav div{
    background-color: #219dbcaf;
    width: 100%;
    list-style: none;
}
nav div li{
    justify-content: center;
    display: flex;
    margin-left: 3vw;
    font-size: 1.5vw;
    font-weight: 700;
}
nav div li a{
    text-decoration: none;
    color: #023047;
}

section div#title h1 h2{
text-align: center; 
justify-content: center; 
align-items: center; 

}

section#perfis div img {
width: 180px;
height: 180px; ;
border-radius: 50%;
margin: auto;
justify-content: left;
align-items: left;
left: 90px;
    
 }
section#perfis div#linkedin a{
width: 10px;
text-decoration: none;
color:#0e76a8; 
font-size: 4rem;
padding: 2rem;
transition: all .4s ease-out

 }
section#perfis div#github a{
width: 10px;
text-decoration: none; 
color:black;
font-size: 4rem;
padding: 2rem;
transition: all .4s ease-out  

 }
 

 