<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Trip</title>
    <link rel="stylesheet" href="../static/css/style_index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <ul>
            <h2>Blue Trip</h2>
            <li><a href="./index.html">Início</a></li>
            <li><a href="./pacotes.html">Pacotes de Viagem</a></li>
            <li><a href="./missao.html">Nossa missão</a></li>
            <li><a href="./perfil.html">Quem somos</a></li>
        </ul>
        <div>
            <li> <a href="">Monte sua viagem </a></li>
        </div>
    </nav>
<!-- Teste -->
    <section>
        <div id="item-wrapper">
            <div id="item">
                <div class="item"> <img src="../static/img/Fernando_de_Noronha_-_PE-_Cacimba_do_Padre.jpg" alt=""></div>
                <div class="item"> <img src="../static/img/jericoacoara.jpg" alt=""></div>
                <div class="item"> <img src="../static/img/Machu_Picchu,_Peru.jpg" alt=""></div>
            </div>
        </div>

    </section>        

    

    <script src="../static/js/script.js"></script>
</body>
</html>


<!-- Morro de SP
https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F7%2F73%2FSunset_at_Morro_de_S%25C3%25A3o_Paulo_.jpg&imgrefurl=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3ASunset_at_Morro_de_S%25C3%25A3o_Paulo_.jpg&tbnid=2yyPagUUgszSnM&vet=12ahUKEwiFpcOfvonyAhU1M7kGHf2BAdIQMygRegUIARCpAQ..i&docid=2lT3QOH3cqa_RM&w=4567&h=2644&q=morro%20de%20sao%20paulo&hl=pt-BR&ved=2ahUKEwiFpcOfvonyAhU1M7kGHf2BAdIQMygRegUIARCpAQ


ssa
https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2019%2F04%2F17%2F05%2F41%2Fsalvador-4133397_1280.jpg&imgrefurl=https%3A%2F%2Fpixabay.com%2Fpt%2Fphotos%2Fsalvador-bahia-brasil-turismo-4133397%2F&tbnid=e1IiUA6qCmZczM&vet=12ahUKEwjj5NvdwInyAhWVuJUCHXrfAl0QMygAegUIARD8AQ..i&docid=9PGb1O8WaV7obM&w=1280&h=720&q=salvador&hl=pt-BR&ved=2ahUKEwjj5NvdwInyAhWVuJUCHXrfAl0QMygAegUIARD8AQ

nepal 
https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2018%2F08%2F23%2F23%2F49%2Fannapurna-3627041_1280.jpg&imgrefurl=https%3A%2F%2Fpixabay.com%2Fpt%2Fphotos%2Fannapurna-himalaia-montanha-nepal-3627041%2F&tbnid=0yLZa_yfTLK7ZM&vet=12ahUKEwibkLjMv4nyAhWyjZUCHX8DCFoQMygVegQIARB2..i&docid=hrFx0hvVtRZYoM&w=1280&h=720&itg=1&q=nepal%20turismo&hl=pt-BR&ved=2ahUKEwibkLjMv4nyAhWyjZUCHX8DCFoQMygVegQIARB2

egito
https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.im-a-puzzle.com%2Fgallery%2FPlaces%2FEgypt%2FAll_Gizah_Pyramids.jpg&imgrefurl=https%3A%2F%2Fim-a-puzzle.com%2Fgallery%2Fgallery.php%3Fgallery%3DEgypt%26ln%3Dpt&tbnid=uWtW52w_9hN0oM&vet=12ahUKEwj86bCbwInyAhXeppUCHeV5CKoQMygWegQIARB6..i&docid=UWk58TWlYLc8iM&w=1350&h=900&q=egito%20turismo&hl=pt-BR&ved=2ahUKEwj86bCbwInyAhXeppUCHeV5CKoQMygWegQIARB6

italia
https://www.google.com/imgres?imgurl=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Farchitecture-structure-sky-building-palace-old-city-summer-vacation-travel-europe-holiday-landmark-italy-historic-tourism-colosseum-theatre-clouds-rome-history-renaissance-european-famous-italian-italic-722184.jpg&imgrefurl=https%3A%2F%2Fpxhere.com%2Fpt%2Fphoto%2F722184&tbnid=-xquTy2ZNLJNfM&vet=12ahUKEwiIusvXwYnyAhVDrZUCHZcTAskQMygFegQIARBI..i&docid=dfDVvbGOyQHZwM&w=9976&h=5004&itg=1&q=italia%20turismo%20coliseo&hl=pt-BR&ved=2ahUKEwiIusvXwYnyAhVDrZUCHZcTAskQMygFegQIARBI

frança 
https://www.google.com/imgres?imgurl=https%3A%2F%2Fbelocalexchange.com%2Fblog%2Fwp-content%2Fuploads%2F2017%2F11%2FParis-Guillaume-Speurt.jpg&imgrefurl=https%3A%2F%2Fbelocalexchange.com%2Fblog%2Fen%2Fbelocal-exchange-troca-casa-franca%2F&tbnid=Rbn1HVWXrSpJGM&vet=12ahUKEwjHgtf_wYnyAhUmpJUCHR9XASQQMygYegUIARDXAQ..i&docid=MennM8Y8erlrXM&w=1200&h=731&q=fran%C3%A7a%20turismo&hl=pt-BR&ved=2ahUKEwjHgtf_wYnyAhUmpJUCHR9XASQQMygYegUIARDXAQ

Aspen
https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fa%2Fa7%2FLift_1A_on_Aspen_Mountain.jpg&imgrefurl=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3ALift_1A_on_Aspen_Mountain.jpg&tbnid=ZaqlxBP7YCOytM&vet=12ahUKEwiQnOaFw4nyAhXSILkGHZgYDbIQMygOegUIARD4AQ..i&docid=z-oHyivYowlB8M&w=3672&h=2448&q=Aspen&hl=pt-BR&ved=2ahUKEwiQnOaFw4nyAhXSILkGHZgYDbIQMygOegUIARD4AQ

Machu picchu peru
https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fc%2Fca%2FMachu_Picchu%252C_Peru_%25282018%2529.jpg&imgrefurl=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AMachu_Picchu%2C_Peru_(2018).jpg&tbnid=2P3THcKc7xQnaM&vet=12ahUKEwj9wPWiw4nyAhXSCbkGHSwEBV4QMygEegUIARDrAQ..i&docid=WphWkAZgjyOESM&w=3000&h=2250&q=machu%20picchu&hl=pt-BR&ved=2ahUKEwj9wPWiw4nyAhXSCbkGHSwEBV4QMygEegUIARDrAQ

patagonia chilena
https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F4%2F4d%2FTorres_del_Paine%252C_Laguna_Azul_09.jpg&imgrefurl=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3ATorres_del_Paine%2C_Laguna_Azul_09.jpg&tbnid=NtHC-u5jURFKWM&vet=12ahUKEwj-zemKxYnyAhWDuZUCHQtQBTQQMygMegUIARC8AQ..i&docid=Ir6CFu1XQ0UPuM&w=4288&h=2848&q=patag%C3%B4nia%20chilena&hl=pt-BR&ved=2ahUKEwj-zemKxYnyAhWDuZUCHQtQBTQQMygMegUIARC8AQ
 -->

