<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_editar.css">
    <title>Document</title>
</head>

<body>

    <!-- <section id="formulario">
        <form action='/send' method="POST">

            <div id="login">
                <label for="usuario">Nome</label>
                <input id="usuario" name="nome" type="text">
            </div>

            <div id="senha">
                <label for="senha">Senha</label>
                <input id="senha" name="senha" type="text">
            </div>
            
        </form>
    </section> -->

    <!-- <div class="container">
        <div class="center">

            <form action='/send' method="POST">

                <div id="login">
                    <label for="usuario">Nome</label>
                    <input id="usuario" name="nome" type="text">
                </div>

                <div id="senha">
                    <label for="senha">Senha</label>
                    <input id="senha" name="senha" type="text">
                </div>

            </form>
        </div>
    </div> -->

    <div id="parent">
        <form id="form_login">
         <label for="">jweeiwqeiwu</label>
        </form>
    </div>

</body>

</html>