<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_pacotes.css">
    <title>Produtos</title>
</head>

<body>
    <nav>
        <ul>
            <h2>Blue Trip</h2>
            <li><a href="/">Início</a></li>
            <li><a href="/missao">Nossa missão</a></li>
            <li><a href="/pacotes">pacotes</a></li>
            <li><a href="/perfil">Quem somos</a></li>
        </ul>
    </nav>

    
    <!-- Section mãe para os dois tipos de viagem: internacional e nacional -->
    <section id="viagens">

        
        <!-- Section de Viagens Nacionais -->
        <section id="viagens-nacionais">

            <div id="fernando-noronha">
                <img src="../static/img/Fernando_de_Noronha_-_PE-_Cacimba_do_Padre.jpg" alt="">
                <div><h2>
                <p> O arquipélago Fernando de Noronha é considerado o melhor ponto de mergulho do Brasil e reúne diversos cartões postais como o morro do Pico, o morro Dois Irmãos, o Forte de Nossa Senhora dos Remédios e outros. <p>Temos Pacotes com 7 dias a partir de 4 mil reas com Hotel e voo incluso.
                </p></p></h2> </div>
                <div>
                <a href=""> <button>Comprar pacote</button></a>
            </div>
            </div>

            <div id="gramado">
                <img src="../static/img/gramado1.jpg" alt="">
                <div><h2>Principal destino da Serra Gaúcha,  Gramado apesar do charme que ganha com o friozinho do inverno, a cidade possui atrações para curtir o ano inteiro e festivais que ficaram famosos no Brasil inteiro, como o Natal Luz e o Festival de Cinema de Gramado. <p>Temos Pacotes a partir de 5 dias com o valor de R$1.800 reais incluind hotele voo.</p></h2>
                </div>
                    <div>
                <a href=""> <button>Comprar pacote</button> </a>
            </div>
            </div>

            <div id="jericoacoara">
                <img src="../static/img/jericoacoara.jpg" alt="">
                <div><h2>Pequena e rústica, a vila de Jericoacoara é um dos destinos de praia mais badalados do Brasil. E com toda razão, o visual paradisíaco com praias, dunas, lagoas e mangues é simplesmente espetacular.<p>
                Pacotes com 8 diárias incluindo hotele voo por R$5.200 reais.</p></h2>
                </div>
                <div>
                <a href=""> <button>Comprar pacote</button> </a>
            </div>

            <div id="jalapao">
                <img src="../static/img/jalapon.webp" alt="">
                <div>
                 <h2>O Parque Estadual do Jalapão fica no estado do Tocantins, Região Norte do Brasil.É um destino para quem é aventureiro e gosta de adrenalina e tem ganhado fama nos  últimos anos como um dos últimos locais pouco explorados no Brasil.
                 <p> Pacotes a partir de 6 dias com Hotel e voo incluso por R$2.700 reais.</p>
                </h2>
                </div> 
                <div>
                <a href=""> <button>Comprar pacote</button> </a>
            </div>
            </div>

        </section>

        <!-- Section para Viagens Internacionais -->
        
        <section id="viagens-internacionais">

            <!-- Section para ajustar o tamanho da foto da Suiça -->
           
             <div id="suica">
                <img src="../static/img/frutigen2.jpg" alt="">
                <div><h2>Conheça cidades medievais, montanhas nevadas, lagos e os melhores chocolates do mundo com suas passagens aéreas para a Suíça!.O país, conhecido pela qualidade de vida e pela infraestrutura urbana, é um dos destinos mais procurados da Europa.<p> Pacotes com 6 diárias por R$8.500 reais</p></h2>
                </div>
                    <div>
                <a href=""> <button>Comprar pacote</button> </a>
            </div>
            </div>

            <!-- Div para a Islândia -->
            <div id="islandia">
                <img src="../static/img/islandia.jpg" alt="">
                <div><h2>A Islândia já virou cenário da série Game of Thrones e é uma opção de viagem para quem prefere locais com menor aglomeração de turistas, ou seja, é ideal para quem tem interesse em natureza, vulcões, e nos mistérios de destinos mais isolados e que rendem fotos sensacionais!. Pacotes com 5 diárias a partir de 10r </h2>
                </div>
                <div>
                <a href=""> <button>Comprar pacote</button></a>
                </div>
            </div>

            <!-- Div para Machu Picchu -->

            <div id="machu-picchu">
                <img src="../static/img/Machu_Picchu,_Peru.jpg" alt="">
                <div>
                <h2>Eleita uma das sete maravilhas do mundo, Machu Picchu abriga templos, terraços e canais de água, construída no topo de uma montanha. <p>Cercada de enigmas e história, a cidade guarda informações importantes da cultura inca.</p>
                <p> Pacotes com 7 diarias por 2.700 reais com o voo incluso.</p></h2>
                </div>
                <div>
                <a href=""> <button>Comprar pacote</button> </a>
            </div>
            </div>

            <!-- Div para Amsterdam -->

            <div id="amsterdam">
                <img src="../static/img/amsterdam.jpg" alt="">
            </div>
                <div>
                <h2>Cidade cheia de histórias e opções culturais, Amsterdã é um destino para você se divertir em pubs, bares e festas, além de visitar museus e se deslumbrar pelos canais charmosos que cortam a capital da Holanda. <!-- <p>Conheça pontos turísticos famosos, como a Casa de Anne Frank e o Museu Van Gogh. Não deixe de passear de bicicleta, meio de transporte mais utilizado na região, de barco ou mesmo caminhar para ver a arquitetura com estilo medieval.</p> --> </h2>
            </div>
                <div>
                <a href=""> <button>Comprar pacote</button> </a>
                </div>
            

        </section>

    </section>

<footer>
    <ul>
        <li>
<a href="perfil.html"> <h2></h2>Entre em contato</h2> </a>

</li>
</ul>
</footer>
</body>

</html>