<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_produtos.css">
    <title>Produtos</title>
</head>

<body>
    <nav>
        <ul>
            <h2>Blue Trip</h2>
            <li><a href="./missao.html">Início</a></li>
            <li><a href="./missao.html">Nossa missão</a></li>
            <li><a href="./produtos.html">Produtos</a></li>
            <li><a href="./perfil.html">Quem somos</a></li>
        </ul>
    </nav>

    
    <!-- Section mãe para os dois tipos de viagem: internacional e nacional -->
    <section id="viagens">

        
        <!-- Section de Viagens Nacionais -->
        <section id="viagens-nacionais">

            <div id="fernando-noronha">
                <img src="../static/img/Fernando_de_Noronha_-_PE-_Cacimba_do_Padre.jpg" alt="">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis expedita, voluptas cumque modi
                    dignissimos culpa! Eum eos perferendis id excepturi doloremque earum ipsa cupiditate, consequatur,
                    ad vero repellendus cumque ullam.</h2>
            </div>

            <div id="gramado">
                <img src="../static/img/gramado1.jpg" alt="">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis expedita, voluptas cumque modi
                    dignissimos culpa! Eum eos perferendis id excepturi doloremque earum ipsa cupiditate, consequatur,
                    ad vero repellendus cumque ullam.</h2>
            </div>

            <div id="jericoacoara">
                <img src="../static/img/jericoacoara.jpg" alt="">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis expedita, voluptas cumque modi
                    dignissimos culpa! Eum eos perferendis id excepturi doloremque earum ipsa cupiditate, consequatur,
                    ad vero repellendus cumque ullam.</h2>
            </div>

            <div id="jalapon">
                <img src="../static/img/jalapon.webp" alt="">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis expedita, voluptas cumque modi
                    dignissimos culpa! Eum eos perferendis id excepturi doloremque earum ipsa cupiditate, consequatur,
                    ad vero repellendus cumque ullam.</h2>
            </div>

        </section>

        <!-- Section para Viagens Internacionais -->
        
        <section id="viagens-internacionais">

            <!-- Section para ajustar o tamanho da foto da Suiça -->
            <section id="tamanho-suica">
                <img src="../static/img/frutigen2.jpg" alt="">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis expedita, voluptas cumque modi
                    dignissimos culpa! Eum eos perferendis id excepturi doloremque earum ipsa cupiditate, consequatur,
                    ad vero repellendus cumque ullam.</h2>
            </section>

            
            <!-- Div para a Islândia -->
            <div id="islandia">
                <img src="../static/img/islandia.jpg" alt="">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis expedita, voluptas cumque modi
                    dignissimos culpa! Eum eos perferendis id excepturi doloremque earum ipsa cupiditate, consequatur,
                    ad vero repellendus cumque ullam.</h2>
            </div>

            <!-- Div para Machu Picchu -->

            <div id="machu-picchu">
                <img src="../static/img/Machu_Picchu,_Peru.jpg" alt="">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis expedita, voluptas cumque modi
                    dignissimos culpa! Eum eos perferendis id excepturi doloremque earum ipsa cupiditate, consequatur,
                    ad vero repellendus cumque ullam.</h2>
            </div>

            <!-- Div para Amsterdam -->

            <div id="amsterdam">
                <img src="../static/img/amsterdam.jpg" alt="">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis expedita, voluptas cumque modi
                    dignissimos culpa! Eum eos perferendis id excepturi doloremque earum ipsa cupiditate, consequatur,
                    ad vero repellendus cumque ullam.</h2>
            </div>

        </section>

    </section>


</body>

</html>