<!DOCTYPE html>
<html lang="pt-br">
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_perfil.css">
    <title>Quem somos</title>
</head>
<body>
    <nav>
        <ul>
            <h2>Blue Trip</h2>
            <li><a href="/">Início</a></li>
            <li><a href="/missao">Nossa missão</a></li>
            <li><a href="/pacotes">pacotes</a></li>
            <li><a href="/perfil">Quem somos</a></li>
        </ul>
    </nav>
<section>
    <div id= "title">
    <h1> DEVS</h1>
 <h2>Quem Somos</h2>
</div>
</section>

<section id = perfis>
    <div>
      <img src="../static/img/Beatriz (1).jpg"  width="120" height="120">
      <h1>Beatriz Costa Leal</h1>
    </div>
<div id= "linkedin"><a href="https://www.linkedin.com/in/beatriz-costa-leal-2822a0126/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>

<div id= "github"><a href="https://github.com/BeatrizCoder"target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>

<div>
    <img src="../static/img/Livia.jpg" width="120" height="120">
    <h1>Livia Ribeiro</h1>
  </div>
  <div id= "linkedin"><a href="https://www.linkedin.com/in/liviaribeiros/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>

<div id= "github"><a href="https://github.com/ribeirolivia"target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>
</section>
</div>

</body>
</html>