<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_perfil.css">
    <title>Quem somos</title>
</head>
<body>
    <nav>
        <ul>
            <h2>Blue Trip</h2>
            <li><a href="/">Início</a></li>
            <li><a href="/missao">Nossa missão</a></li>
            <li><a href="/pacotes">pacotes</a></li>
            <li><a href="/perfil">Quem somos</a></li>
        </ul>
    </nav>
<section>
    <div>
    <h1> DEVS</h1>
 <h2>Quem Somos</h2>
</div>
</section>
<section>
    <div id="beatriz">
        <img src="/static/img/Beatriz (1).jpg">
        <h2>Beatriz Costa Leal</h2>
    </section>
<section>
     <div="icons">
        <div>
    <a href="https://www.linkedin.com/in/beatriz-costa-leal-2822a0126/" target="_blank"></a><img src="/static/img/linkedin.png"><a>
    </div>
        <a href="https://github.com/BeatrizCoder"target="_blank"></a><img src="/static/img/github  (1).png"><a>           
    </section>
     </div>
</body>
</html>